.header {
  padding: 191px 0 139px;

  @include mediaTablet {
    padding: 100px 50px;
  }

  @include mediaMobile {
    padding: 40px 20px;
  }

  /* &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
}
