<div class="swiper-slide">
  <div class="card-auctions">
    <div class="card-auctions__img">
      <div class="card-auctions__time work-sans-24">@@time</div>
      <img src="./img/auctions/@@img" alt="img" />
    </div>
    <div class="card-auctions__about">
      <div class="card-auctions__author">
        <div class="card-auctions__avatar">
          <img src="./img/auctions/@@avatar" alt="avatar" />
        </div>
        <div class="card-auctions__desc">
          <p class="work-sans-28">@@title</p>
          <p class="work-sans-20">@@email</p>
        </div>
      </div>
      <div class="card-auctions__rating">
        <p><img src="./img/icons/heard.svg" alt="heard" /></p>
        <p class="work-sans-32">@@rating</p>
      </div>
    </div>
    <div class="card-auctions__price">
      <p class="work-sans-24">Current Bid</p>
      <p class="oxanium-24">@@price</p>
    </div>
    <div class="card-auctions__btn">
      <div class="btn-black">
        <a href="#!" class="work-sans-24">Place a bid</a>
      </div>
    </div>
  </div>
</div>
