<div class="card-top-creators">
  <div class="card-top-creators__left">
    <div class="card-top-creators__avatar">
      <img src="./img/top-creators/@@avatar" alt="avatar" />
    </div>
    <div class="card-top-creators__desc">
      <p class="oxanium-32">@@name</p>
      <p class="work-sans-24">@@price</p>
    </div>
  </div>
  <div class="card-top-creators__right">
    <div class="card-top-creators__line">
      <img src="./img/top-creators/top-creators-line.svg" alt="line" />
    </div>
    <div class="card-top-creators__achievements">
      <p class="oxanium-32">@@quantity</p>
      <p class="work-sans-24">Items</p>
    </div>
  </div>
</div>
