<div class="swiper-slide">
  <div class="card-popular">
    <div class="card-popular__img">
      <img src="./img/popular/@@img" alt="img" />
    </div>
    <div class="card-popular__about">
      <div class="card-popular__author">
        <div class="card-popular__avatar">
          <img src="./img/popular/@@avatar" alt="avatar" />
        </div>
        <div class="card-popular__desc">
          <p class="work-sans-32">@@email</p>
        </div>
      </div>
      <div class="card-popular__id">
        <p class="work-sans-32">@@id</p>
      </div>
    </div>
  </div>
</div>
